#container {
    height: 159px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#inner-container {
    width: 443px;
    display: flex;
    justify-content: space-between;
    padding-right: 40px;
}

img {
    width: 197px;
    height: 46px;
}

a {
    color: var(--primary-color);
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    transition: color 0.4s ease-in;
    /* transition: font-weight 0.6s ease; */
    transition: font-size 0.3s ease;
}

a:hover {
    color: var(--primary-color);
    font-size: 25px;
    /* font-weight: 900; */
}
