#login-logo {
    padding-top: 44px;
    padding-bottom: 70px;
}

#login-header {
    color: var(--primary-color);
    font-size: 32px;
}

#login-container {
    text-align: center;
}

/*
just to get rid of the anchor effect from the navbar
cause the logo here is being triggered by it for some
reason...dont know why
*/
a {
    transition: font-size 0.0s ease;
}

a:hover {
    font-size: 20px;
}


