:root {
  font-family: quicksand;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}


body {
  margin: 0;
}


html, body {
  overflow: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: scroll; /* enables scrolling even when scrollbar is hidden */

}

body::-webkit-scrollbar {
  display: none;
}

:root {
  height: 100%;
}