input,
select {
    margin: 0;
    padding: 0;
    line-height: normal;
    box-sizing: border-box;
    font: inherit;
}

.custom-input {
    background-color: #cddae3;
    border: none;
    border-radius: 10px;
    padding: 0 10px;
    font-size: 1rem;
    outline: none;
    transition: background-color 0.3s ease;
}


.custom-input:focus {
    background-color: #b7c9d6;
    
}

.custom-input::placeholder {
    font-size: 12px;
}

.custom-input:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.custom-input option {
    font-size: 12px;
}

.custom-checkbox-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: quicksand;
}

.custom-checkbox-label {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
}


.custom-checkbox-text {
    font-size: 14px;
    color: #333;
    width: 256px
}


.custom-checkbox-label input[type="checkbox"] {
    opacity: 0;
    position: absolute;
    left: 0;
    width: 20px;
    height: 20px;
    margin: 0;
    cursor: pointer;
}

.custom-checkbox {
    width: 16px;
    height: 16px;
    border: 2px solid var(--primary-color);
    border-radius: 4px;
    display: inline-block;
    position: relative;
    transition: background-color 0.2s ease, border-color 0.2s ease;
    margin-right: 8px;
    background-color: white;
}

/* Change box color when checked */
.custom-checkbox-label input[type="checkbox"]:checked + .custom-checkbox {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

/* Checkmark inside box */
.custom-checkbox-label input[type="checkbox"]:checked + .custom-checkbox::after {
    content: "";
    position: absolute;
    top: 40%;
    left: 50%;
    width: 4px;
    height: 8px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: translate(-50%, -50%) rotate(45deg);
}

/* Optional: hover effect for better UX */
.custom-checkbox-label input[type="checkbox"]:hover + .custom-checkbox {
    border-color: var(--primary-color);
    background-color: #b4cbda;
}